
/*{
    background-color: whitesmoke;

}
.b{
    background-color:whitesmoke;

}
#prath{
    background-color:yellowgreen;
}
body{
    background-color: green;
}*/

#div2{
    height: 100px;
    width: 100px;
    background-color:lightcoral;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;  
    border-radius: 50%;  
   /* border-bottom-left-radius: 30%; 
    border-top-right-radius: 30%; */
}
#div3{
    height: 100px;
    width: 100px;
    background-color:lightgoldenrodyellow;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    /*border: 5px dashed black; */
    border-radius: 50%;   
}
#div4{
    height: 100px;
    width: 100px;
    background-color:lightgreen;
    margin: 10px;
    padding: 10px;
   /* border: 5px dotted black;   */
     border: 5px solid black; 
     border-radius: 50%; 
}

#div2:hover{
    background-color: red;
    box-shadow: 5px 5px 10px black;
    border : 10px double black;
}
#div3:hover{
    background-color:yellow;
    box-shadow: 5px 5px 10px black;
    border : 10px double black;
}
#div4:hover{
    background-color:rgb(154, 250, 10);
    box-shadow: 5px 5px 10px black;
    border : 10px double black;
}
h1:hover{
    text-transform: uppercase ;
    background-color:greenyellow;
    color:aqua;
    text-align:center;
    text-shadow:5px 5px 1px black;

}

body{
    text-align: center;
    text-decoration: underline;
    text-transform: captitalize;
    text-shadow: 1px 1px 2px black;
    background-image:url(panda2.jpeg);
    background-repeat:repeat;
    background-attachment: fixed;
    backdrop-filter: blur(10px);

}
#div{
    justify-items: center;
    height: 415px;
    width: 175px;
    background-color:black;
    padding: 10px;
    border: 5px solid black;  
   border-radius: 20px;

}